.words {
    text-align: center;
    color: white;
    padding-top: 15px;
}

.info {
    text-align: center;
    font-size: 23px;
    color: white;
    padding-top: 20px;
}

.styling {
    text-align: center;
    padding-top: 15px;
}