.colors {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.button {
    text-decoration: none;
}

.styleButton {
    padding: 15px;
    width: 24%;
    border-radius: 50px;
    cursor: pointer;
}

.centerButton {
    text-align: center;
    padding-bottom: 35px;
}

.github {
    padding: 20px;
}

.bot {
    padding-bottom: 25px;
    text-decoration: underline;
    font-size: 17px;
}

.moreBot {
    padding-bottom: '20px';
}